
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Hub</h2>
<br />


<a href="/Menus" class="btn btn-success btn-lg btn-block" role="button" aria-pressed="true">Menús</a>
<p>

</p>
<a href="/Inventarios" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Inventarios</a>
<p>

</p>
<a href="/Ordenes" class="btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">Órdenes</a>
<p>

</p>
<a href="/Promociones" class="btn btn-warning btn-lg btn-block" role="button" aria-pressed="true">Promociones</a>
<p>

</p>
<a href="/Encuestas" class="btn btn-info btn-lg btn-block" role="button" aria-pressed="true">Encuestas</a>

