@model QuickChef1._0.Models.inventario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>

<h3>¿Está seguro que quiere borrar este producto?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Producto</p>
            <!--Html.DisplayNameFor(model => model.nombreProducto)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreProducto)
        </dd>

        <dt>
            <p>Cantidad</p>
            <!--Html.DisplayNameFor(model => model.cantidadProducto)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadProducto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
