@model QuickChef1._0.Models.inventario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Producto</p>
            <!--Html.DisplayNameFor(model => model.nombreProducto)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreProducto)
        </dd>

        <dt>
            <p>Cantidad</p>
            <!--Html.DisplayNameFor(model => model.cantidadProducto)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadProducto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.productoID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
